<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="../static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../static/bootstrap-4.3.1/js/bootstrap.min.js"></script>
    <title>Service List</title>
</head>
<div>
    <form method="POST" action="/service" enctype="multipart/form-data" target="iframe">
        <table border="1">
            <thead>
                <tr>
                    <th>Service Name</th>
                    <th>Service Version</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td>Last Modified: 2019-06-27 15:04:05</td>
                </tr>
            </tfoot>
        </table>
        <input type="file" name="importfile" />
        <input type="submit" name="importall" value="Import All" />
    </form>
    <iframe id="iframe" name="iframe" style="display:none;"></iframe>
    <script>
    </script>
</div>



</html>