<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-4.3.1/css/bootstrap.css">
    <script type="text/javascript" src="../static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../static/bootstrap-4.3.1/js/bootstrap.min.js"></script>
    <title>step List</title>
</head>
<div>
    <div>
        <ul>
            <h3>This is the instructions of using this step editor</h3>
            <li>1. Please make sure there is no empty element in this table</li>
            <li>2. if you want to categorize steps with another step in the same category, please input the same main step</li>
        </ul>
    </div>
    <hr>
    <form method="POST" action="/step" target="iframestep">
        <table border="1" style="width: 100%;">
            <thead>
                <tr>
                    <th>Main Step</th>
                    <th>Step Name</th>
                    <th>Step Summary</th>
                    <th>Step Command</th>
                </tr>
            </thead>
            <tbody id="step_tbody">
                <tr id="step_row1" style="vertical-align: top;">
                    <td><input style="width: 100%;" type="text" name="main_step" placeholder="Input step name" /></td>
                    <td><textarea style="width: 100%;" name="step_name" rows="2" style="OVERFLOW: hidden" placeholder="Input step name"></textarea></td>
                    <td><textarea style="width: 100%;" name="step_summary" rows="2" style="OVERFLOW: hidden" placeholder="Input step summary"></textarea></td>
                    <td><textarea style="width: 100%;" name="step_command" rows="2" style="OVERFLOW: hidden" placeholder="Input step coammds"></textarea></td>
                </tr>
                <tr id="step_row2" style="vertical-align: top;">
                    <td><input style="width: 100%;" type="text" name="main_step" placeholder="Input step name" /></td>
                    <td><textarea style="width: 100%;" name="step_name" rows="2" style="OVERFLOW: hidden" placeholder="Input step name"></textarea></td>
                    <td><textarea style="width: 100%;" name="step_summary" rows="2" style="OVERFLOW: hidden" placeholder="Input step summary"></textarea></td>
                    <td><textarea style="width: 100%;" name="step_command" rows="2" style="OVERFLOW: hidden" placeholder="Input step coammds"></textarea></td>
                </tr>
            </tbody>
        </table>
        <input type="button" id="addstep" value="Add Step" />
        <input type="submit" name="exportall" value="Export All" />
    </form>
    <iframe id="iframestep" name="iframestep" style="display:none;"></iframe>
    <script>
        $("#addstep").click(function() {
            var new_tr = $("#step_row2").html();
            $("#step_tbody").append("<tr>" + new_tr + "</tr>");
        })
    </script>
</div>


</html>