<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-4.3.1/css/bootstrap.css">
    <script type="text/javascript" src="../static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../static/bootstrap-4.3.1/js/bootstrap.min.js"></script>
    <title>Service List</title>
</head>
<div class="container">
    <div id="accordion" style="width: 30%;">
        {{range .stepsData}}
        <div class="card ">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">{{.StepTitle}}</button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div>
                    {{range .SubSteps}}
                    <a href="#" class="list-group-item list-group-item-action">{{.StepName}}</a>
                    <input type="hidden" name="" value="{{.StepSummary}}">
                    <input type="hidden" name="" value="{{.StepCommand}}"> {{end}}
                </div>
            </div>
        </div>
        {{end}}
        <form action="/step" method="POST" enctype="multipart/form-data">
            <div>
                <input type="button" value="Edit These Steps" onclick="javascript:window.location.href='/step/edit/';"></input>
                <input type="file" name="importfilestep" value="Import step file" />
                <input type="submit" name="importallsteps" value="Import New Steps" />
            </div>
        </form>
    </div>
</div>

</html>